{{!< default}}

<header id="topnav" class="defaultscroll sticky">
            <div class="container">
                <!-- Logo container-->
                <a class="logo" href="index.html">
                    <img src="https://igovsol.com/images/igov-logo.png" height="24" class="logo-light-mode" alt="">
                    <img src="https://igovsol.com/images/igov-logo.png" height="24" class="logo-dark-mode" alt="">
                </a>
               
                <!-- End Logo container-->
                <div class="menu-extras">
                    <div class="menu-item">
                        <!-- Mobile menu toggle-->
                        <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                            <div class="lines">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <!-- End mobile menu toggle-->
                    </div>
                </div>
                
                <div id="navigation">
                    <!-- Navigation Menu-->   
                    <ul class="navigation-menu" id="navmenu-nav">
                        <li class="has-submenu">
                            <a href="https://igovsol.com/">Home</a>
                        </li>
                        <li class="has-submenu">
                            <a href="https://igovsol.com/#services">Focus</a>
                        </li>
                        <li class="has-submenu">
                            <a href="https://igovsol.com/#about">About Us</a>
                        </li>
                      
                        <li class="has-submenu">
                            <a href="https://igovsol.com/#contact">Contact</a>
                        </li>

                        <li class="has-submenu">
                            <a  href="javascript(void);">Blog</a>
                        </li>
                    </ul><!--end navigation menu-->
                </div><!--end navigation-->
            </div><!--end container-->
        </header><!--end header-->

{{> "loop"}}

{{> "footer"}}
